* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 1.75em;
}

section {
    position: relative;
    padding: 10px;
    margin: 10px;
    border: 1px black solid;
    background-color: #999;
}

h2 {
    position: absolute;
    top: 0;
    right: 0;
    text-transform: capitalize;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    margin: 0;
    padding: 3px;
    width: 130px;
    height: 25px;
    text-align: center;
    font-size: 1.25em;
}

h2 + p {
    margin-top: 28px;
}

#chicken {
    background-color: #d59898;
}

#beef {
    background-color: #c14543;
    color: white;
}

#sushi {
    background-color: #e5d198;
}

.row {
    width: 100%;
}

/* tablet */
@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
        float: left;
    }

    .col-sm-12 {
        width: 100%;
        float: left;
    }
}

/* desktop */
@media (min-width: 992px) {
    .col-md-4 {
        width: 33.33333333%;
        float: left;
    }
}

